# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
local_settings.py

# Virtualenv
venv/
ENV/
env/
.venv/
.env

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/